!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      DAEDBOX: Test Forum
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %link{ :href => "/css/a", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %script{ :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js", :type => "text/javascript"}
    = haml :userfunction
  %body
    = haml :mainmenu
    = haml :userbox
    #mainbox
      #content.box.sml
        %h2
          %b Test Forum       
        #stuff        
          - if defined?@posts
            - @posts.each do |pt|             
              - if pt == pt.root.children.last            
                #topic
                  #ttime
                    %p= "#{pt.created_at.strftime("%D")} #{pt.created_at.strftime("%H:%M")}"                   
                  #ttitle
                    %p= "<a href=\"/forum/post/#{pt.root.id}\">#{pt.root.title}</a>"
                  #tposter  
                    %p= "<a href=\"/user/#{pt.user.id}/profile\">#{pt.user.name}</a>"
              - elsif pt == pt.root
                - begin Post.get!(pt.children.last.id)
                  - puts ""               
                - rescue DataMapper::ObjectNotFoundError
                  #topic
                    #ttime
                      %p= "#{pt.created_at.strftime("%D")} #{pt.created_at.strftime("%H:%M")}"                   
                    #ttitle
                      %p= "<a href=\"/forum/post/#{pt.root.id}\">#{pt.root.title}</a>"
                    #tposter  
                      %p= "<a href=\"/user/#{pt.user.id}/profile\">#{pt.user.name}</a>"   
