!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      DAEDBOX: Test Forum
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %link{ :href => "/css/a", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %script{ :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js", :type => "text/javascript"}
    :javascript
    
      $(document).ready(function() {$('form.login').hide(); $('a.login').click(function() {$('a.login').hide(); $('form.login').show('slow');});});
  %body
    #menu
      %h1
        %a{ :href => "/" }
          %b
            DAED
          BOX
      %div
        %ul
          %li
            %a{ :href => "/" }
              MAIN
          %li
            %a{ :href => "/projects" }
              PROJECTS
          %li
            %a{ :href => "/blog" }
              BLOG
          %li.cur
            %a{ :href => "/forum" }
              FORUM
        %ul
          %li.cur
            %a{ :href => "/forum" }
              Test Forum
    #userbox
      .box.medium.right.red
        %h2
          %b User Box
        %ul
          - if authorized?
            %li= "<b>Hello, #{@user.name}</b>" 
            %li
              %a{:href => "/user/profile"} 
                Profile
            %li
              %a{:href => "/user/messages"} 
                Messages
            %li
              %a{:href => "/user/logout"} 
                Logout
          - else
            %li
              %a.login{:href => "#"}
                Login
            %form.login{:method => "POST", :action => "/user/login" }
              Username
              %br
              %input{ :type => "text", :name => "user"}
              %br
              Password
              %br
              %input{ :type => "password", :name => "pass"}
              %br
              %input.button{ :type => "submit", :name => "submit"}
              

    #mainbox
      #content.box.sml
        %h2
          - unless @child == true
            %b Test Forum       
          - if @child == true
            %b= @posts.first.title 
        #stuff        
          - @posts.each do |pt|
            #reply
              - unless pt == @posts.first and @child == true
                %h3= "<a class =\"title\" href=\"/forum/post/#{pt.id}\">#{pt.title}</a>"
              - else
                %h3= "TOP POST"
              %p= "<b>by <a href=\"/user/#{pt.user.id}/profile\">#{pt.user.name}</a> on the #{pt.created_at.strftime("%D")} at #{pt.created_at.strftime("%H:%M")}</b>"
              %p= pt.body

