!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      DAEDBOX: Test Forum
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %link{ :href => "/css/a", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %script{ :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js", :type => "text/javascript"}
    = haml :userfunction
  %body
    = haml :mainmenu
    = haml :userbox  
    #mainbox
      #content.box.sml
        %h2
          %b.title= @posts.first.title 
        #stuff        
          - @posts.each do |pt|
            #reply
              - unless pt == @posts.first 
                %h3.title= "<a class =\"title\" name = \"#post-#{pt.id}\">#{pt.title}</a>"
              - else
                %h3.title= "<a class = \"title\" name = \"#top\">TOP POST</a>"
              %p.by= "by <a href=\"/user/#{pt.user.id}/profile\">#{pt.user.name}</a> on the #{pt.created_at.strftime("%D")} at #{pt.created_at.strftime("%H:%M")}"
              #body
                %span.pbody{:id => "body-#{pt.id}"}= pt.body.bbcode_to_html
              - if authorized?
                %p.links
                  %a.report{:href => "#" }
                    Report
                  |
                  %a.quote{:href => "#", :name => @posts.first.id, :quote => pt.id}
                    Reply
          #end{:style => "width:100%"}
            %p.end{:style => "text-align:right;padding-right:40px;"}
              %a.reply{:href => "#", :name => @posts.first.id}
                Reply to Topic
              |
              %a{:href => "#top"}
                Return to Top
              
