#content.box.sml
  %a{:name =>"#top"}
  %h2
    %b.title= @posts.first.title 
  #stuff        
    #top{:style => "width:100%"}  
      %p.top{:style => "text-align:right;padding-right:40px;margin-bottom:5px;"}
        %a.index{:href => "#", :onclick => "return loadIndex();"}
          Return to Index
        |  
        %a{:href => "#last"}
          Go to Last Post
    - @posts.each do |pt|
      %div.reply{ :id => "reply-#{pt.id}" }
        - unless pt == @posts.first 
          %h3.title= "<a class =\"title\" name = \"#post-#{pt.id}\">#{pt.title}</a>"
        - else
          %h3.title= "<a class = \"title\" name = \"#post-#{pt.id}\">TOP POST</a>"
        %p.by= "by <a href=\"#\" class=\"profile\" name=\"#{pt.user.id}\"> on the #{pt.created_at.strftime("%D")} at #{pt.created_at.strftime("%H:%M")}"
        #body                
          %span.pbody{:id => "body-#{pt.id}"}= pt.body.bbcode_to_html
        - if authorized?
          %p.links
            - if pt.user_id == session[:uid]
              %a.delete{:href=>"#",:name =>pt.id}
                Delete
              |
              %a.update{:href=>"#",:name =>pt.id}
                Edit
              |
            %a.report{:href => "#" }
              Report
            |
            %a.quote{:href => "#", :name => @posts.first.id, :quote => pt.id}
              Reply
      #end{:style => "width:100%"}
        %p.end{:style => "text-align:right;padding-right:40px;"}
          %a{:name => "last"}
          %a.reply{:href => "#", :name => @posts.first.id}
            Reply to Topic
          |
          %a{:href => "#top"}
            Return to Top
