#content.box
  %h2
    %b "Live" Feed       
  #stuff        
    - if defined?Status
      - @status = Status.last(8)
      - @status.each do |status|                
        #status                
          #stitle
            = "<b>#{status.user.profile_link}</b> " + status.body
          #stime
            = "<br>Posted on the #{status.created_at.strftime("%D")} at #{status.created_at.strftime("%H:%M")}"
