#content.box
  %h2
    %b Test Forum       
  #stuff        
    - if defined?@posts
      - @posts.each do |pt|                
        #topic
          #ttime
            %p= "#{pt.created_at.strftime("%D")} #{pt.created_at.strftime("%H:%M")}"                   
          #ttitle
            %p= "<a href=\"#\" class=\"topic\" onclick=\"loadTopic(#{pt.root.id});\">#{pt.root.title}</a>"
          #tposter  
            %p= pt.user.link

